*{


}

body{
    background-color: rgb(221, 168, 217);
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: sans-serif ;
}

header{
    background-color: rgb(196, 98, 147);
    height: 4em;
}

header{
    text-align: center;
}

img{
    width: 50%;
    border-radius: 18px;
}

main{
    background-color: rgb(192, 134, 156);
}